/* From W3Schools Button Group Tutorial */

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */ 
  display: block; /* Make the buttons appear below each other */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table; 
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

#muted {
  background-color: #f44336;
  border: 1px solid red;
}

:hover#muted {
  background-color: #da190b;
}
